@media only screen and (max-width: 600px) {
    nav {
        text-align: center;
    }
    nav a {
        float: none;
        width: 100%;
    }
    .dropdown {
        display: inline-block;
    }
    
    nav ul {
        display: none;
    }
    
    .tenDay {
        display: none;
    }
}